<li id="comment-<%=comment._id%>">
    <%if(locals.user){%>
        <%if(locals.user.id==comment.user.id || locals.user.id==post.user.id){%>
        <a class="delete-comment-button" href="/comment/destroy/<%=comment.id%>">X</a>
        <%}%>    
    <%}%>    


    <%=comment.user.name%><br>
    <%=comment.content%><br>
    <%if(locals.user){%>   
        <form action="/like/toggle/?type=Comment&id=<%=comment._id%>" class="like-form" method="POST" data-likes="<%=comment.likes.length%>">
            <input type="hidden" name="comment" value="<%=comment._id%>">
            <button type="submit"><i class="far fa-thumbs-up"></i><span><%=comment.likes.length%></span>  Like</button>
        </form>
        <%}%> 
</li>