<link rel="stylesheet" href="/css/home.css">


<div id="home-container">
        <section id="feed-posts">
            <%if(locals.user){%>
            <form action="/post/create" id="new-post-form" method="POST">
                <textarea name="content"  cols="30" rows="3" placeholder="Type here...."></textarea>
                <input type="submit" value="Post">
            </form>
            <%}%>

            <div id="posts-container">
                <h2>Posts</h2>
                <ul>
                <% for(post of posts) {%>
                        <%-include('_post')-%>

                    <%}%>
                </ul>
            </div>
        </section>

        <section id="users">
            <h2>Friends</h2>
            <% for(u of all_users){%>
                <a href="user/profile/<%=u.id%>"><%=u.name%></a><br>
            <%}%>
        </section>

        <%-include('./chatbox.ejs')%>
</div>

<script src="/js/home_posts.js"></script>
<script src="/js/comments.js"></script>
<script src="/js/likes.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
	<%if(locals.user){%>
	<script>
		console.log("hello");
		new ChatEngine('user-chat-box','<%=locals.user.email%>')

	</script>
    <%}%>