
 <img src="<%=user.avatar%>" alt="<%=user.name%>" width="100px" height="100px" style="border-radius: 50%">

<%if(locals.user.id==profile_user.id){%>
    <form action="/user/update/<%= profile_user.id%>" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" value="<%=profile_user.name%>">
        <input type="email" name="email" value="<%=profile_user.email%>">
        <input type="file" name="avatar" placeholder="Profile Picture">
        <input type="submit" value="Update">
    </form>

<%} else{ %>
   
    <h1><%=profile_user.name%></h1>
    <h1><%=profile_user.email%></h1>

    <!-- <form action="friend/add/<%=profile_user._id%>">
        <button type="submit">Add Friend</button>
    </form> -->
<%}%>  
   